src/META-INF/wsdl/venus.eas.asu.edu/WSRepository/eRobotic/DataService/Service.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="SetStatus"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="SetStatusResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="SetCode"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="SetCodeResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetStatus"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetStatusResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetStatusResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetCode"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetCodeResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetCodeResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>